@import url(https://fonts.bunny.net/css?family=calligraffitti:400);

@font-face {
  font-family: 'Campuni-Test-Light.otf';
  src: url('fonts/Campuni-Test-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Alkia.ttf';
  src: url('fonts/Alkia.ttf') format('truetype');
}
@font-face {
  font-family: 'Bonsad.otf';
  src: url('fonts/Bonsad.otf') format('truetype');
}
.card {
    text-align: center;
    font-family: 'Calligraffitti', handwriting;
    margin: 10%;
    color: white;
}
.profile {
    margin-right: 50%;
    transform: rotate(0deg);
    opacity: 90%;
    transition: opacity 1s;
} .profile:hover {
  opacity: 100%;
}
.description {
    margin-top: -28%; /* General text position -- decrement to position higher*/
    margin-left: 20%; /*length of background*/
    margin-right: 10%;
    background-color: 	rgba(201, 216, 146, 0.5);
    color: rgb(23, 80, 77);
    padding: 5rem;
    padding-left: 20%; /* inner text margins -- increment for smaller margins*/
    font-family: 'Campuni-Test-Light.otf', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.7px;
    text-align: center;
}
.description > h3 {
    font-family: 'Bonsad.otf', sans-serif;
    font-weight: 900;
    color: rgb(101, 129, 118);
    font-size: 180%;
    margin-bottom: 0vh;
    margin-top: -1vh;
    padding: 0%;
}
.see-work {
    font-family: 'Bonsad.otf', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(24, 72, 117);
    text-decoration: underline;
    text-rendering: optimizeLegibility;
    text-underline-offset: 7px;
    text-decoration-style: wavy;
    text-decoration-color: rgba(240, 248, 255, 0);
    background-color: rgba(95, 158, 160, 0);
    text-align: center;
    margin-top: 4vh;
    transition: text-decoration-color 0.5s, color 0.25s, text-underline-offset 0.5s;
} .see-work:hover {
  text-decoration-color: rgb(72, 124, 12);
  color: rgb(72, 124, 12);
  text-underline-offset: 5px;
}
img {
  border-radius: 0.5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  transform:scale(100%);
  transition: border-radius 1s, transform 1s ease;
}
img:hover {
  border-radius: 0rem;
  transform: scale(105%);
}